<LoadRemover />

<aside>
  <header>
    <h1>Ember Material Design Icons</h1>
    <p>Based by <a href="https://materialdesignicons.com/" title="Material Design Icons" target="_blank" rel="noopener noreferrer">Material Design Icons</a></p>
  </header>

  <div class="demo-icon-code">
    <code>{{this.iconHbsCode}}</code>
  </div>

  <div class="demo-icon-preview">
    <MdiIcon
      @icon={{this.selectedIcon}}
      @size={{this.size}}
      @spin={{this.spin}}
      @flipH={{this.flipH}}
      @flipV={{this.flipV}}
      @rotate={{this.rotate}}
      @fill={{this.fill}}
      @stroke={{this.stroke}}
      @strokeWidth={{this.strokeWidth}}
      @strokeLinecap={{this.strokeLinecap}}
      @strokeLinejoin={{this.strokeLinejoin}}
    />
  </div>

  <div class="demo-icon-settings">
    <label class="label">Size:</label>
    <div class="control"><Input @type="range" @value={{this.size}} min="60" max="120" /></div>

    <label class="label">Rotate:</label>
    <div class="control"><Input @type="range" @value={{this.rotate}} min="0" max="359" /></div>

    <div class="label"></div>
    <div class="control"><label><Input @type="checkbox" @checked={{this.spin}} /> Spin</label></div>

    <div class="label"></div>
    <div class="control"><label><Input @type="checkbox" @checked={{this.flipH}} /> Horizontal flip</label></div>

    <div class="label"></div>
    <div class="control"><label><Input @type="checkbox" @checked={{this.flipV}} /> Vertical flip</label></div>

    <label class="label">Fill:</label>
    <div class="control"><Input @type="color" @value={{this.fill}} /></div>

    <label class="label">Stroke:</label>
    <div class="control"><Input @type="color" @value={{this.stroke}} /></div>

    <label class="label">Stroke width:</label>
    <div class="control"><Input @type="range" class="form-control-range" @value={{this.strokeWidth}} min="0" max="3" /></div>

    <label class="label">Stroke linecap:</label>
    <div class="control">
      <select class="form-control" {{on "change" this.updateStrokeLinecap}}>
        {{#each this.strokeLinecapOptions as |item|}}
          <option value={{item}} selected={{eq item this.strokeLinecap}}>{{item}}</option>
        {{/each}}
      </select>
    </div>

    <label class="label">Stroke linejoin:</label>
    <div class="control">
      <select class="form-control" {{on "change" this.updateStrokeLinejoin}}>
        {{#each this.strokeLinejoinOptions as |item|}}
          <option value={{item}} selected={{eq item this.strokeLinejoin}}>{{item}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <a href="https://github.com/kaermorchen/ember-mdi" title="Ember Material Design Icons" class="github-btn"><MdiIcon @icon="github-circle" @fill="white" />View on Github</a>
</aside>

<main>
  <Input placeholder="Search" autofocus={{true}} class="search-field" {{on "input" this.updateSearchText}}/>

  {{! template-lint-disable no-invalid-interactive }}
  <div class="demo-icons" {{on "click" this.updateSelectedItem}}>
    {{#each @model as |meta|}}
      {{!-- <div class="demo-icon {{if meta.isHidden "d-none"}}" data-name={{meta.name}}> --}}
        <MdIcon @icon={{meta.name}} @title={{meta.name}} @size={{34}} />
      {{!-- </div> --}}
    {{/each}}
  </div>
  {{! template-lint-enable no-invalid-interactive }}
</main>
