<aside>
  <header>
    <h1>Ember Material Design Icons</h1>
    <p>Based by <a href="https://materialdesignicons.com/" title="Material Design Icons" target="_blank" rel="noopener">Material Design Icons</a></p>
  </header>

  <div class="demo-icon-code">
    <code>{{iconHbsCode}}</code>
  </div>

  <div class="demo-icon-preview">
    {{mdi-icon selectedIcon
      size=size
      spin=spin
      flipH=flipH
      flipV=flipV
      rotate=rotate
      fill=fill
      stroke=stroke
      strokeWidth=strokeWidth
      strokeLinecap=strokeLinecap
      strokeLinejoin=strokeLinejoin
    }}
  </div>

  <div class="demo-icon-settings">
    <label class="label">Size:</label>
    <div class="control">{{input type="range" value=size min=60 max=120}}</div>

    <label class="label">Rotate:</label>
    <div class="control">{{input type="range" value=rotate min=0 max=359}}</div>

    <div class="label"></div>
    <div class="control"><label>{{input type="checkbox" checked=spin}} Spin</label></div>

    <div class="label"></div>
    <div class="control"><label>{{input type="checkbox" checked=flipH}} Horizontal flip</label></div>

    <div class="label"></div>
    <div class="control"><label>{{input type="checkbox" checked=flipV}} Vertical flip</label></div>

    <label class="label">Fill:</label>
    <div class="control">{{input type="color" value=fill onChange=(action (mut fill))}}</div>

    <label class="label">Stroke:</label>
    <div class="control">{{input type="color" value=stroke onChange=(action (mut stroke))}}</div>

    <label class="label">Stroke width:</label>
    <div class="control">{{input type="range" class="form-control-range" value=strokeWidth min=0 max=3}}</div>

    <label class="label">Stroke linecap:</label>
    <div class="control">
      <select onchange={{action (mut strokeLinecap) value="target.value"}} class="form-control">
        {{#each strokeLinecapOptions as |item|}}
          <option value={{item}} selected={{eq item strokeLinecap}}>{{item}}</option>
        {{/each}}
      </select>
    </div>

    <label class="label">Stroke linejoin:</label>
    <div class="control">
      <select onchange={{action (mut strokeLinejoin) value="target.value"}} class="form-control">
        {{#each strokeLinejoinOptions as |item|}}
          <option value={{item}} selected={{eq item strokeLinejoin}}>{{item}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <a href="https://github.com/kaermorchen/ember-mdi" title="Ember Material Design Icons" class="btn">{{mdi-icon "github-circle" fill="white"}}View on Github</a>
</aside>

<main>
  {{input placeholder="Search" autofocus=true key-up=(action "updateSearchText") class="search-field"}}

  <div class="demo-icons">
    {{#each model as |meta|}}
      <div class="demo-icon {{if meta.isHidden "d-none"}}" onclick={{action (mut selectedIcon) meta.name}} role="button">
        {{mdi-icon meta.name title=meta.name size=34}}
      </div>
    {{/each}}
  </div>
</main>
