<div class="row">
  <div class="col-8">
    <div class="form-group">
      {{input class="form-control" placeholder="Search" autofocus=true key-up=(action "updateSearchText")}}
    </div>

    <div class="row">
      {{#each model as |meta|}}
        <div class="col-2 demo-icon {{if meta.isHidden "d-none"}}" onclick={{action (mut selectedIcon) meta.name}} role="button">
          {{mdi-icon meta.name title=meta.name size=48}}

          <div class="demo-icon-name">{{meta.name}}</div>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="col-4">
    <div class="demo-icon-preview sticky-top">
      <div class="demo-icon-preview-name mb-5">
        {{iconHbsCode}}
      </div>

      <div class="demo-icon-preview-icon">
        {{mdi-icon selectedIcon
          size=size
          spin=spin
          flipH=flipH
          flipV=flipV
          rotate=rotate
          fill=fill
          stroke=stroke
          strokeWidth=strokeWidth
          strokeLinecap=strokeLinecap
          strokeLinejoin=strokeLinejoin
        }}
      </div>

      <div class="px-3">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Size:</label>
          <div class="col-sm-7 d-flex align-items-center">
            {{input type="range" class="form-control-range" value=size min=1 max=120}} {{size}}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Rotate:</label>
          <div class="col-sm-7 d-flex align-items-center">
            {{input type="range" class="form-control-range" value=rotate min=0 max=360}} {{rotate}}
          </div>
        </div>

        <div class="form-group row justify-content-end">
          <label class="col-sm-7 mb-0">
            {{input type="checkbox" checked=spin}} Spin
          </label>
        </div>

        <div class="form-group row justify-content-end">
          <label class="col-sm-7 mb-0">
            {{input type="checkbox" checked=flipH}} Horizontal flip
          </label>
        </div>

        <div class="form-group row justify-content-end">
          <label class="col-sm-7 mb-0">
            {{input type="checkbox" checked=flipV}} Vertical flip
          </label>
        </div>

        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Fill:</label>
          <div class="col-sm-7 d-flex align-items-center">
            {{input type="color" value=fill onChange=(action (mut fill))}}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Stroke:</label>
          <div class="col-sm-7 d-flex align-items-center">
            {{input type="color" value=stroke onChange=(action (mut stroke))}}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-5 col-form-label pr-0">Stroke width:</label>
          <div class="col-sm-7 d-flex align-items-center">
            {{input type="range" class="form-control-range" value=strokeWidth min=0 max=10}} {{strokeWidth}}
          </div>
        </div>

        <div class="form-group row justify-content-end">
          <label class="col-sm-5 col-form-label pr-0">Stroke linecap:</label>
          <div class="col-sm-7 d-flex align-items-center">
            <select onchange={{action (mut strokeLinecap) value="target.value"}} class="form-control">
              {{#each strokeLinecapOptions as |item|}}
                <option value={{item}} selected={{eq item strokeLinecap}}>{{item}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="form-group row justify-content-end">
          <label class="col-sm-5 col-form-label pr-0">Stroke linejoin:</label>
          <div class="col-sm-7 d-flex align-items-center">
            <select onchange={{action (mut strokeLinejoin) value="target.value"}} class="form-control">
              {{#each strokeLinejoinOptions as |item|}}
                <option value={{item}} selected={{eq item strokeLinejoin}}>{{item}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
