<div class="row">
  <div class="col-8">
    <div class="form-group">
      {{input value=searchText class="form-control" placeholder="Search"}}
    </div>

    <div class="d-flex flex-wrap">
      {{#each filteredIcons as |icon|}}
        <div class="demo-icon" onclick={{action (mut selectedIcon) icon}}>
          {{mdi-icon icon}}
        </div>
      {{/each}}
    </div>
  </div>

  <div class="col-4">
    <div class="demo-icon-preview sticky-top">
      <div class="demo-icon-preview-name mb-5">
        {{iconHbsCode}}
      </div>

      <div class="demo-icon-preview-icon">
        {{mdi-icon selectedIcon size=size spin=spin flipH=flipH flipV=flipV rotate=rotate fill=fill}}
      </div>

      <div class="px-3">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Fill:</label>
          <div class="col-sm-10 d-flex align-items-center">
            {{spectrum-color-picker color=fill preferredFormat="hex" onChange=(action (mut fill))}}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Size:</label>
          <div class="col-sm-10 d-flex align-items-center">
            {{input type="range" class="mr-3" value=size min=1 max=120}} {{size}}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Rotate:</label>
          <div class="col-sm-10 d-flex align-items-center">
            {{input type="range" class="mr-3" value=rotate min=0 max=360}} {{rotate}}
          </div>
        </div>

        <div class="form-group row justify-content-end">
          <label class="col-sm-10 mb-0">
            {{input type="checkbox" checked=spin}} Spin
          </label>
        </div>

        <div class="form-group row justify-content-end">
          <label class="col-sm-10 mb-0">
            {{input type="checkbox" checked=flipH}} Horizontal flip
          </label>
        </div>
        <div class="form-group row justify-content-end">
          <label class="col-sm-10 mb-0">
            {{input type="checkbox" checked=flipV}} Vertical flip
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
